In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import itertools
from datetime import datetime, timedelta

import time

In [29]:
df_Nizanda_D1 = pd.read_csv('./Datasets/Nizanda_D1.csv')
df_Nizanda_D1

,Day,Month,Year,Hour,Wind Speed m/s,Wind Direction,High Wind Speed m/s,High Wind Direction,Date
0,1.0,1.0,2017.0,0.0,3.1,N,11.2,NW,2017-01-01 00:00:00
1,1.0,1.0,2017.0,1.0,3.1,WNW,11.2,WNW,2017-01-01 01:00:00
2,1.0,1.0,2017.0,2.0,2.7,WNW,10.7,WNW,2017-01-01 02:00:00
3,1.0,1.0,2017.0,3.0,3.1,WNW,10.7,WNW,2017-01-01 03:00:00
4,1.0,1.0,2017.0,4.0,3.1,WNW,12.5,WNW,2017-01-01 04:00:00
...,...,...,...,...,...,...,...,...,...
26166,31.0,12.0,2022.0,19.0,2.2,NE,8.5,W,2022-12-31 19:00:00
26167,31.0,12.0,2022.0,20.0,1.8,NNE,7.6,ENE,2022-12-31 20:00:00
26168,31.0,12.0,2022.0,21.0,1.8,ENE,6.7,NW,2022-12-31 21:00:00
26169,31.0,12.0,2022.0,22.0,2.2,NE,8.5,NE,2022-12-31 22:00:00
26170,31.0,12.0,2022.0,23.0,2.2,NE,7.6,N,2022-12-31 23:00:00

In [30]:
df_Nizanda_D23 = pd.read_csv('./Datasets/Nizanda_D2023.csv')
df_Nizanda_D23

,Day,Month,Year,Hour,Wind Speed m/s,Wind Direction,High Wind Speed m/s,High Wind Direction,Date
0,1.0,1.0,2023.0,0.0,2.2,NE,7.6,NW,2023-01-01 00:00:00
1,1.0,1.0,2023.0,1.0,1.8,NE,6.7,N,2023-01-01 01:00:00
2,1.0,1.0,2023.0,2.0,2.2,NE,7.6,NNE,2023-01-01 02:00:00
3,1.0,1.0,2023.0,3.0,3.6,NE,8.0,N,2023-01-01 03:00:00
4,1.0,1.0,2023.0,4.0,2.7,NE,7.6,NNE,2023-01-01 04:00:00
...,...,...,...,...,...,...,...,...,...
8755,31.0,12.0,2023.0,19.0,3.6,NE,13.4,N,2023-12-31 19:00:00
8756,31.0,12.0,2023.0,20.0,4.0,NE,11.6,N,2023-12-31 20:00:00
8757,31.0,12.0,2023.0,21.0,3.6,NE,11.2,NNW,2023-12-31 21:00:00
8758,31.0,12.0,2023.0,22.0,3.1,ENE,12.1,NNE,2023-12-31 22:00:00
8759,31.0,12.0,2023.0,23.0,2.7,NE,9.8,NNE,2023-12-31 23:00:00

In [31]:
df3 = pd.concat([df_Nizanda_D1, df_Nizanda_D23], axis=0)

In [32]:
df3.reset_index()

,index,Day,Month,Year,Hour,Wind Speed m/s,Wind Direction,High Wind Speed m/s,High Wind Direction,Date
0,0,1.0,1.0,2017.0,0.0,3.1,N,11.2,NW,2017-01-01 00:00:00
1,1,1.0,1.0,2017.0,1.0,3.1,WNW,11.2,WNW,2017-01-01 01:00:00
2,2,1.0,1.0,2017.0,2.0,2.7,WNW,10.7,WNW,2017-01-01 02:00:00
3,3,1.0,1.0,2017.0,3.0,3.1,WNW,10.7,WNW,2017-01-01 03:00:00
4,4,1.0,1.0,2017.0,4.0,3.1,WNW,12.5,WNW,2017-01-01 04:00:00
...,...,...,...,...,...,...,...,...,...,...
34926,8755,31.0,12.0,2023.0,19.0,3.6,NE,13.4,N,2023-12-31 19:00:00
34927,8756,31.0,12.0,2023.0,20.0,4.0,NE,11.6,N,2023-12-31 20:00:00
34928,8757,31.0,12.0,2023.0,21.0,3.6,NE,11.2,NNW,2023-12-31 21:00:00
34929,8758,31.0,12.0,2023.0,22.0,3.1,ENE,12.1,NNE,2023-12-31 22:00:00
34930,8759,31.0,12.0,2023.0,23.0,2.7,NE,9.8,NNE,2023-12-31 23:00:00

In [33]:
df3['fecha'] = pd.to_datetime(df3[['Year', 'Month', 'Day', 'Hour']])

In [34]:
fecha_inicio = pd.to_datetime('2022-12-30')
fecha_fin = pd.to_datetime('2023-01-07')

df_filtrado = df3[(df3['fecha'] >= fecha_inicio) & (df3['fecha'] <= fecha_fin)]

In [37]:
df_filtrado.reset_index(inplace = True)
df_filtrado

,index,Day,Month,Year,Hour,Wind Speed m/s,Wind Direction,High Wind Speed m/s,High Wind Direction,Date,fecha
0,26123,30.0,12.0,2022.0,0.0,0.4,W,1.3,W,2022-12-30 00:00:00,2022-12-30 00:00:00
1,26124,30.0,12.0,2022.0,1.0,0.4,W,1.3,W,2022-12-30 01:00:00,2022-12-30 01:00:00
2,26125,30.0,12.0,2022.0,2.0,0.0,NaN,0.0,NaN,2022-12-30 02:00:00,2022-12-30 02:00:00
3,26126,30.0,12.0,2022.0,3.0,0.0,NaN,0.9,W,2022-12-30 03:00:00,2022-12-30 03:00:00
4,26127,30.0,12.0,2022.0,4.0,0.0,NaN,0.0,NaN,2022-12-30 04:00:00,2022-12-30 04:00:00
...,...,...,...,...,...,...,...,...,...,...,...
188,140,6.0,1.0,2023.0,20.0,2.7,NE,11.2,NNE,2023-01-06 20:00:00,2023-01-06 20:00:00
189,141,6.0,1.0,2023.0,21.0,2.7,NE,14.3,N,2023-01-06 21:00:00,2023-01-06 21:00:00
190,142,6.0,1.0,2023.0,22.0,3.6,NE,12.1,NNE,2023-01-06 22:00:00,2023-01-06 22:00:00
191,143,6.0,1.0,2023.0,23.0,2.7,ENE,11.2,NW,2023-01-06 23:00:00,2023-01-06 23:00:00
192,144,7.0,1.0,2023.0,0.0,2.7,NE,11.6,NNE,2023-01-07 00:00:00,2023-01-07 00:00:00

In [38]:
ultimo_indice = len(df_filtrado) - 1
#ultimo_indice
df_filtrado = df_filtrado.drop(ultimo_indice)

In [39]:
df_filtrado

,index,Day,Month,Year,Hour,Wind Speed m/s,Wind Direction,High Wind Speed m/s,High Wind Direction,Date,fecha
0,26123,30.0,12.0,2022.0,0.0,0.4,W,1.3,W,2022-12-30 00:00:00,2022-12-30 00:00:00
1,26124,30.0,12.0,2022.0,1.0,0.4,W,1.3,W,2022-12-30 01:00:00,2022-12-30 01:00:00
2,26125,30.0,12.0,2022.0,2.0,0.0,NaN,0.0,NaN,2022-12-30 02:00:00,2022-12-30 02:00:00
3,26126,30.0,12.0,2022.0,3.0,0.0,NaN,0.9,W,2022-12-30 03:00:00,2022-12-30 03:00:00
4,26127,30.0,12.0,2022.0,4.0,0.0,NaN,0.0,NaN,2022-12-30 04:00:00,2022-12-30 04:00:00
...,...,...,...,...,...,...,...,...,...,...,...
187,139,6.0,1.0,2023.0,19.0,1.8,ENE,8.9,N,2023-01-06 19:00:00,2023-01-06 19:00:00
188,140,6.0,1.0,2023.0,20.0,2.7,NE,11.2,NNE,2023-01-06 20:00:00,2023-01-06 20:00:00
189,141,6.0,1.0,2023.0,21.0,2.7,NE,14.3,N,2023-01-06 21:00:00,2023-01-06 21:00:00
190,142,6.0,1.0,2023.0,22.0,3.6,NE,12.1,NNE,2023-01-06 22:00:00,2023-01-06 22:00:00
191,143,6.0,1.0,2023.0,23.0,2.7,ENE,11.2,NW,2023-01-06 23:00:00,2023-01-06 23:00:00

In [42]:
df_filtrado.to_csv('mi_archivo.csv', index=False)

In [43]:
def previous_date(current_date, frmt='%Y-%m-%d-%H', days = 1, string=True):
    yesterday = current_date - timedelta(days)
    if string:
        return yesterday.strftime(frmt), current_date.strftime(frmt)
    return yesterday

In [44]:
def get_dates(data, month, day, d = 1):
    current_date = datetime(2023, month, day)
    
    prev, current = previous_date(current_date, days = d + 1, string = True)
    month = data[(data['Date'] > prev) & (data['Date'] < current)]
    
    previous_days = month.iloc[:-24]
    current_day = month.iloc[len(previous_days):]
    
    return month, previous_days, current_day

In [48]:
month, p, c = get_dates(df_filtrado, 1, 3, 4)

In [51]:
c

,index,Day,Month,Year,Hour,Wind Speed m/s,Wind Direction,High Wind Speed m/s,High Wind Direction,Date,fecha
96,48,3.0,1.0,2023.0,0.0,1.3,S,4.0,SSE,2023-01-03 00:00:00,2023-01-03 00:00:00
97,49,3.0,1.0,2023.0,1.0,1.3,SSW,3.6,SSE,2023-01-03 01:00:00,2023-01-03 01:00:00
98,50,3.0,1.0,2023.0,2.0,1.3,SSW,4.9,ESE,2023-01-03 02:00:00,2023-01-03 02:00:00
99,51,3.0,1.0,2023.0,3.0,1.8,SSW,6.3,E,2023-01-03 03:00:00,2023-01-03 03:00:00
100,52,3.0,1.0,2023.0,4.0,1.8,S,5.8,SSE,2023-01-03 04:00:00,2023-01-03 04:00:00
101,53,3.0,1.0,2023.0,5.0,1.8,S,4.5,SSE,2023-01-03 05:00:00,2023-01-03 05:00:00
102,54,3.0,1.0,2023.0,6.0,1.8,S,4.9,SSE,2023-01-03 06:00:00,2023-01-03 06:00:00
103,55,3.0,1.0,2023.0,7.0,1.8,S,5.4,S,2023-01-03 07:00:00,2023-01-03 07:00:00
104,56,3.0,1.0,2023.0,8.0,0.9,NE,3.6,ENE,2023-01-03 08:00:00,2023-01-03 08:00:00
105,57,3.0,1.0,2023.0,9.0,1.8,S,4.5,S,2023-01-03 09:00:00,2023-01-03 09:00:00
106,58,3.0,1.0,2023.0,10.0,2.7,S,7.2,S,2023-01-03 10:00:00,2023-01-03 10:00:00
107,59,3.0,1.0,2023.0,11.0,3.1,SSE,8.0,SSE,2023-01-03 11:00:00,2023-01-03 11:00:00
108,60,3.0,1.0,2023.0,12.0,3.1,S,8.5,E,2023-01-03 12:00:00,2023-01-03 12:00:00
109,61,3.0,1.0,2023.0,13.0,3.6,S,9.4,S,2023-01-03 13:00:00,2023-01-03 13:00:00
110,62,3.0,1.0,2023.0,14.0,3.1,S,9.8,SSE,2023-01-03 14:00:00,2023-01-03 14:00:00
111,63,3.0,1.0,2023.0,15.0,4.0,S,11.2,S,2023-01-03 15:00:00,2023-01-03 15:00:00
112,64,3.0,1.0,2023.0,16.0,3.6,S,8.9,S,2023-01-03 16:00:00,2023-01-03 16:00:00
113,65,3.0,1.0,2023.0,17.0,2.2,NE,6.7,SSW,2023-01-03 17:00:00,2023-01-03 17:00:00
114,66,3.0,1.0,2023.0,18.0,1.8,SSW,6.7,S,2023-01-03 18:00:00,2023-01-03 18:00:00
115,67,3.0,1.0,2023.0,19.0,1.3,NE,4.0,NNE,2023-01-03 19:00:00,2023-01-03 19:00:00
116,68,3.0,1.0,2023.0,20.0,1.3,NE,4.5,NE,2023-01-03 20:00:00,2023-01-03 20:00:00
117,69,3.0,1.0,2023.0,21.0,0.9,SSW,3.1,WSW,2023-01-03 21:00:00,2023-01-03 21:00:00
118,70,3.0,1.0,2023.0,22.0,1.3,SSW,2.7,SSW,2023-01-03 22:00:00,2023-01-03 22:00:00
119,71,3.0,1.0,2023.0,23.0,0.9,SSW,3.1,S,2023-01-03 23:00:00,2023-01-03 23:00:00